{% extends "tracker/layout.html" %}
{% load static %}
{% block body %}
<h3 id="f_name">{{ food.name }}</h3>
<div id="f_id" style="display:none">{{ food.id }}</div>
<br>

<div id="f_calories">Calories: {{ food.calories }}</div>
<div id="f_fat">Fat: {{ food.fat }}</div>
<div id="f_carbs">Carbohydrates: {{ food.carbohydrate }}</div>
<div id="f_protein">Protein: {{ food.protein }}</div>

<form class="p-2 w-25 m-auto" id="servings-form">
  {% csrf_token %}
  <div>
    <label for="amount">Servings:</label>
    <input type="number" class="w-50 mb-2" name="amount" id="amount" min="1" placeholder="Serving(s)">
    <button type="submit" class="btn btn-secondary" name="calculate">Calculate</button>
  </div>
</form>

<div>
  <a href="{% url 'food_search' %}">Back to search</a>
</div>

{% if user.is_authenticated %}
<button id="save-entry" class="btn btn-primary w-70 mb-2">Save to my profile</button>
{% else %}
<div class="mt-5 mb-3 text-body-secondary">
  <a href="{% url 'register' %}">Create an account</a> to save your calories.
</div>
{% endif %}

<div id="message"></div>

<script src="{% static 'tracker/food_detail.js' %}"></script>
{% endblock %}