{% extends "tracker/layout.html" %}

{% block body %}
<h1>Food Search</h1>

<div class="w-50 mx-auto">
    <form class="card p-2" method="post">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search for food...">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<p>
    {% if query %}
    Searched: {{ query }}
    {% endif %}
</p>

<ul>
    {% for food in foods %}
    <div>
        <a href="{% url 'food_detail' food.food_id %}">{{ food.food_name }}</a>
    </div>
    {% empty %}
    {% if query %}
    Not found.
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}