{% extends "tracker/layout.html" %}

{% block header %}
{% endblock %}

{% block body %}
<h1>Start Managing Your Calories</h1>
<p>Enter a food to lookup the calories it provides. Create an account to track your dietary pattern.</p>
<p id="start-btn-area">
  <button class="btn btn-primary" id="start-btn">Start</button>
</p>
<div class="w-50 mx-auto collapse" id="search-area">
  <form class="card p-2" action="{% url 'food_search' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control" name="query" placeholder="Enter a food name">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>
{% endblock %}