{% extends "tracker/layout.html" %}

{% block header %}
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="{% url 'food_search' %}" class="nav-link px-2 link-secondary">Search</a></li>
    <li><a href="#" class="nav-link px-2">About</a></li>
  </ul>
{% endblock %}

{% block body %}

<h2 class="fw-bold mb-3">Login</h2>


<div class="form-signin w-25 m-auto">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="form-floating mb-2">
        <input autofocus name="username" placeholder="Username" class="form-control" id="floatingInput">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="btn btn-primary w-100 mb-2" type="submit">Submit</button>
      <p>{{ message }}</p>
      <p class="mt-5 mb-3 text-body-secondary">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
      </p>
    </form>
</div>

{% endblock %}